@media (max-width: 768px) {
    .NavigationBar {
        height: 80px;
        
        grid-template-columns: 25% auto 25%;
    }

    .Logo {
        grid-column: 3;
    }

    .NavigationBarToggler {
        aspect-ratio: 1/1;
        max-width: 100%;
        max-height: 100%;

        display: block;

        outline: none;
        user-select: none;
        -webkit-tap-highlight-color:  rgba(0, 0, 0, 0);

        cursor: pointer;
    }

    .NavigationBarToggler path {
        stroke: white;
        stroke-width: 5px;
        stroke-linecap: round;
    }
}