@media (max-width: 768px) {
    .NavigationBar {
        height: 80px;
        
        grid-template-columns: 20% auto 20%;
    }

    .Logo {
        grid-column: 3;
    }

    .NavigationBarToggler {
        aspect-ratio: 1/1;
        height: 100%;

        display: block;
    }

    .NavigationBarToggler path {
        stroke: white;
        stroke-width: 5px;
        stroke-linecap: round;
        transform-origin: center center;
    }
}